@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-[#0d1117] dark:bg-[#0f0f11] overflow-x-hidden;

  width: 100vw;
  max-width: 100vw;
}

.gradient-title {
  @apply bg-gradient-to-b from-white to-teal-300 font-bold text-transparent bg-clip-text pb-1 pr-2;
}
@keyframes gradient-spin {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-spin {
  background-size: 200% 200%;
  animation: gradient-spin 3s linear infinite;
}
